@model RelatoriosCongregação.Models.Tipos

@{
    ViewBag.Title = "Exclusão";
}

<h2>Delete</h2>

<h3>Tem certeza que deseja excluir?</h3>
<div>
    <h4>Tipos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value="Excluir" class="btn btn-default" />
            </div>
        </div>

    }
</div>
<div>
    @Html.ActionLink("Voltar", "Index")
</div>